Download data from https://openpolicing.stanford.edu/data/

**THE STANFORD OPEN POLICING PROJECT:**

Below is from above mentioned website:

On a typical day in the United States, police officers make more than 50,000 traffic stops. Our team is gathering, analyzing, and releasing records from millions of traffic stops by law enforcement agencies across the country. Our goal is to help researchers, journalists, and policymakers investigate and improve interactions between police and the public.

We'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

In [2]:
# copy data from google drive
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
!ls "/content/drive/My Drive/Data"

 creditcard.csv							   police.csv
'Data_cleaning_THE STANFORD OPEN POLICING PROJECT_Jay2019.ipynb'   weather.csv

In [0]:
!cp "/content/drive/My Drive/Data/police.csv" "police.csv"
!cp "/content/drive/My Drive/Data/weather.csv" "weather.csv"

In [5]:
!ls

drive  police.csv  sample_data	weather.csv

In [0]:
# imports
import pandas as pd # for file handling and data manipulation
import numpy as np # for numerical algebra

In [0]:
# load the data
data = pd.read_csv('police.csv')
data_weather = pd.read_csv('weather.csv')

**Examine the data**

In [32]:
# check first five rows of data
data.head()

  state   stop_date stop_time  ...  stop_duration drugs_related_stop district
0    RI  2005-01-04     12:55  ...       0-15 Min              False  Zone X4
1    RI  2005-01-23     23:15  ...       0-15 Min              False  Zone K3
2    RI  2005-02-17     04:15  ...       0-15 Min              False  Zone X4
3    RI  2005-02-20     17:15  ...      16-30 Min              False  Zone X1
4    RI  2005-02-24     01:20  ...       0-15 Min              False  Zone X3

[5 rows x 15 columns]

- Each row represents one traffic stop
- NaN indicates a missing value

In [33]:
# check data statistics using info() method
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
state                 91741 non-null object
stop_date             91741 non-null object
stop_time             91741 non-null object
county_name           0 non-null float64
driver_gender         86536 non-null object
driver_race           86539 non-null object
violation_raw         86539 non-null object
violation             86539 non-null object
search_conducted      91741 non-null bool
search_type           3307 non-null object
stop_outcome          86539 non-null object
is_arrested           91741 non-null bool
stop_duration         86539 non-null object
drugs_related_stop    91741 non-null bool
district              91741 non-null object
dtypes: bool(3), float64(1), object(11)
memory usage: 8.7+ MB

In [34]:
# check for missing values
data.isnull().sum()

state                     0
stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5205
driver_race            5202
violation_raw          5202
violation              5202
search_conducted          0
search_type           88434
stop_outcome           5202
is_arrested               0
stop_duration          5202
drugs_related_stop        0
district                  0
dtype: int64

In [35]:
# check shape of the dataset
data.shape

(91741, 15)

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the DataFrame, to make it easier for us to focus on the remaining columns.

For police dataset we'll drop the county_name column because it only contains missing values, and we'll drop the state column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

In [0]:
# drop country_name and state column
data.drop(['county_name', 'state'], axis='columns', inplace=True) # use inplace = True to avoid one additional assignment statement

In [37]:
# check shape of the dataset again
data.shape

(91741, 13)

In [38]:
# check data types
data.dtypes

stop_date             object
stop_time             object
driver_gender         object
driver_race           object
violation_raw         object
violation             object
search_conducted        bool
search_type           object
stop_outcome          object
is_arrested             bool
stop_duration         object
drugs_related_stop      bool
district              object
dtype: object

- object: Python strings (or other Python objects)
- bool: True and False values
- Other types: int, float, datetime, category

**Why do data types matter?**
- Affects which operations you can perform
- Avoid storing data as strings (when possible)
      int, float: enables mathematical operations
      datetime: enables date-based attributes and methods
      category: uses less memory and runs faster
      bool: enables logical and mathematical operations

In abovecell is_arrested column currently has the object data type. We'll change the data type to bool, which is the most suitable type for a column containing True and False values.

Fixing the data type will enable us to use mathematical operations on the is_arrested column that would not be possible otherwise.

In [0]:
data['is_arrested'] = data['is_arrested'].astype('bool')

 dot notation i.e. data.is_arrested and brack notation i.e. data['is_arrested'] are same but bracket notation must be used on left side of a assignment statement as shown above.

Currently, the date and time of each traffic stop are stored in separate object columns: stop_date and stop_time.

We'll combine these two columns into a single column, and then convert it to datetime format. This will enable us to use convenient date-based attributes.

In [40]:
data.head(2)

    stop_date stop_time  ... drugs_related_stop district
0  2005-01-04     12:55  ...              False  Zone X4
1  2005-01-23     23:15  ...              False  Zone K3

[2 rows x 13 columns]

In [0]:
# let's combine stop_date and stop_time column with space separator
combined = data.stop_date.str.cat(data.stop_time, sep=' ')

In [0]:
# let's add above combined data to original data by creating a new column stop_datetime
data['stop_datetime'] = pd.to_datetime(combined)

In [45]:
data.dtypes
# stop_datetime         datetime64[ns]

stop_date                     object
stop_time                     object
driver_gender                 object
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
search_type                   object
stop_outcome                  object
is_arrested                     bool
stop_duration                 object
drugs_related_stop              bool
district                      object
stop_datetime         datetime64[ns]
dtype: object

**Setting the index**

Lastly we will set the stop_datetime column as the DataFrame's index. By replacing the default index with a DatetimeIndex, will make it easier to analyze the dataset by date and time.

In [0]:
data.set_index('stop_datetime', inplace=True)
# when you set a column as index, it is no more part of dataframe column

In [47]:
data.index

DatetimeIndex(['2005-01-04 12:55:00', '2005-01-23 23:15:00',
               '2005-02-17 04:15:00', '2005-02-20 17:15:00',
               '2005-02-24 01:20:00', '2005-03-14 10:00:00',
               '2005-03-29 21:55:00', '2005-04-04 21:25:00',
               '2005-07-14 11:20:00', '2005-07-14 19:55:00',
               ...
               '2015-12-31 13:23:00', '2015-12-31 18:59:00',
               '2015-12-31 19:13:00', '2015-12-31 20:20:00',
               '2015-12-31 20:50:00', '2015-12-31 21:21:00',
               '2015-12-31 21:59:00', '2015-12-31 22:04:00',
               '2015-12-31 22:09:00', '2015-12-31 22:47:00'],
              dtype='datetime64[ns]', name='stop_datetime', length=91741, freq=None)

In [48]:
data.columns
# stop_datetime is no more part of dataset columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_race',
       'violation_raw', 'violation', 'search_conducted', 'search_type',
       'stop_outcome', 'is_arrested', 'stop_duration', 'drugs_related_stop',
       'district'],
      dtype='object')

In [49]:
data.head(2)
# check the new index

                      stop_date stop_time  ... drugs_related_stop district
stop_datetime                              ...
2005-01-04 12:55:00  2005-01-04     12:55  ...              False  Zone X4
2005-01-23 23:15:00  2005-01-23     23:15  ...              False  Zone K3

[2 rows x 13 columns]

Let's check what are the values  stop_outcome

In [50]:
data.stop_outcome.head()

stop_datetime
2005-01-04 12:55:00         Citation
2005-01-23 23:15:00         Citation
2005-02-17 04:15:00         Citation
2005-02-20 17:15:00    Arrest Driver
2005-02-24 01:20:00         Citation
Name: stop_outcome, dtype: object

In [51]:
#let's see what are different values in stop_outcome
data.stop_outcome.value_counts()
# as we can see citation or issue is a ticket occured 77092 times

Citation            77092
Warning              5137
Arrest Driver        2735
No Action             625
N/D                   607
Arrest Passenger      343
Name: stop_outcome, dtype: int64

In [52]:
# let's see percentage of each values in stop_outcome
data.stop_outcome.value_counts(normalize=True)
# citation occured 89% of the time

Citation            0.890835
Warning             0.059361
Arrest Driver       0.031604
No Action           0.007222
N/D                 0.007014
Arrest Passenger    0.003964
Name: stop_outcome, dtype: float64